.git
.editorconfig
.dockerignore
.env
.env.*
.env*
node_modules
tests
coverage
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/pail
public/build
public/hot
public/storage
vendor
