services:
  # PHP-FPM Laravel
  app:
    build:
      context: .
      args:
        - USER_ID=${UID:-1000}
        - GROUP_ID=${GID:-1000}
    container_name: gnai_app
    restart: unless-stopped
    volumes:
      - .:/var/www
      - ./vendor:/var/www/vendor
      - ./docker/php/opcache.ini:/usr/local/etc/php/conf.d/opcache.ini
    ports:
      - "9000:9000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DB_CONNECTION=${DB_CONNECTION}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}

  # MySQL
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    container_name: gnai_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - dbdata:/var/lib/mysql
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 5

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma_laravel
    restart: unless-stopped
    depends_on:
      - db
    environment:
      PMA_HOST: db        # Deve ser igual ao nome do serviço de banco acima
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD} # Facilita o login automático
    ports:
      - '8081:80'
   

  # Nginx
  nginx:
    image: nginx:alpine
    container_name: gnai_nginx
    restart: unless-stopped
    volumes:
      - .:/var/www
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    depends_on:
      - app

  node:
    image: node:20-alpine
    container_name: gnai_node
    working_dir: /var/www
    volumes:
      - .:/var/www
      - /var/www/node_modules
    ports:
      - "5173:5173"
    restart: unless-stopped
    stdin_open: true
    tty: true
    command: sh -c "npm install && npm run dev -- --host"

volumes:
  dbdata:
