[mysqld]
# Limita o uso de memória RAM (ajusta para o seu PC)
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M

# Desativa logs binários para economizar espaço em disco
skip-log-bin

# Configurações de performance simples
max_connections = 50
