[mysqld]

# ==============================
# Memória (ajuste conforme seu PC)
# ==============================
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M

# ==============================
# BINLOG (mini backup contínuo)
# ==============================
log-bin = mysql-bin
binlog_format = ROW
expire_logs_days = 7
max_binlog_size = 100M

# ==============================
# Performance básica
# ==============================
max_connections = 50
